/* root */
:root {
    --primary-color: #DE1D4D;
    --secondary-color: #00B9D2;
    --gradient-secondary-color: linear-gradient(to right, #00B9D2 , #0198ac);
    --gradient-color: linear-gradient(to right, #DE1D4D , #BA103A);
    --gradient-color-hover: linear-gradient(to right, #cc1c48 , #a70f35);
    --text-color: #131321;
    --default-color: #f8f9fa;
    --transition: ease 0.3s;
    --global-shadow: 0 8px 30px rgba(0,0,0,0.1);
}
/* css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
hr {
    margin: 1em 0 1em 0;
    border: 1px solid var(--text-color);
    opacity: 0.1;
    border-radius: 2em;
    /* margin-top: 1em; */
}

/* header */
.header {
    width: 100%;
    padding: 1em 2em;
    background: var(--gradient-color);
    box-shadow: 2px 0 20px rgba(0,0,0,0.4);
    /* background: var(--gradient-color); */
    /* position: relative; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: ease 0.2s;
}
.header-hamburger {
    display: none;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: flex;
    /* justify-content: space-between; */
}
.hide-logo {
    display: none;
}
.header-menus {
    font-weight: 600;
}
.header-menus a {
    padding: 0 1em;
    text-decoration: none;
    color: var(--default-color);
    opacity: 0.6;
    transition: var(--transition);
}
.header-menus a:hover {
    opacity: 1;
}
.header-menus a.active {
    opacity: 1;
}
.header-menus a.scroll {
    color: var(--default-color) !important;
}
.header-sign {
    /* background-color: red; */
    width: 140px;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
}
.header-icon {
    color: var(--default-color);
    cursor: pointer;
    transition: var(--transition);
}
.header-icon.icon-scrol {
    color: var(--default-color);
}
.header-sign .header-icon:hover {
    transform: scale(1.25);
}
.header-icon svg {
    width: 26px;
}
.header-download-btn {
    text-decoration: none;
    background-color: var(--default-color);
    padding: 0.75em 2.25em;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 2em;
    transition: var(--transition);
}
.header-download-btn.scroll-btn {
    background: var(--default-color);
    color: var(--primary-color);
}
.header-download-btn:hover {
    background-color: hsl(210, 17%, 90%);
}
/* end header */

/* sidebar */
.sidebar {
    position: fixed;
    left: 0;
    padding: 7em 3em;
    background: var(--default-color);
    width: 380px;
    height: 100vh;
    overflow-y: scroll;
}
.sidebar-title {
    color: var(--text-color);
    font-size: 1.75em;
    text-align: center;
    font-weight: 800;
}
.sidebar-menu {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.sidebar-menu a {
    font-size: 1.15em;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.75em 1em;
    border-radius: 0.5em;
    font-weight: bold;
    opacity: 0.6;
    /* transition: var(--transition); */
}
.sidebar-menu a.active {
    border-bottom: 3px solid var(--primary-color);
    opacity: 1;
}
.sidebar-menu a:hover {
    opacity: 1;
}

/* content */
.content {
    margin-left: 390px;
    padding: 7em 3em;
}
.content-title {
    font-size: 1.5em;
    opacity: 0.9;
}

/* break point */
